/* body {width: 100%; height: 95vh;} */

.main{
    background-color: rgb(74, 74, 99);
    padding-left: 5px;;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
}

.titlebar{
    height: 70px;
    background-color: rgb(41, 41, 59);
}

.title{

    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}
.formTitle{
    padding-top: 10px;
    font-weight: 700;
    font-size:larger ;
    margin-bottom: 5px;

}
.game-wrapper {
    display: inline-block;
    vertical-align: top;
  }

.header_image {
    margin-top: 1em;
    width: auto;
    height:100px;
    padding:0px 10px 0px 10px;
}

h3 {
    margin:.5em 0em .5em 0em;
}

.gameform{
    font-family:'Courier' ;
    height:100px;
    color: whitesmoke;
    margin-bottom: 18px;

}
.gameList{
padding-top: 15px;
padding-bottom: 15px;
height: auto;
flex: 1;
overflow-y: scroll;
max-height:600px
}

.card{
    font-family:'Courier' ;
    color: whitesmoke;
-webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

}

.gameCard{
 width: 250px;
 height: 300px;
    text-align: center;
    background-color: rgba(5, 80, 177, 0.678);
    display:inline-block;
    border-radius:.5rem;
    padding:var(--spacing-medium);
    margin:5px;
    border-width:.5rem;
    box-shadow:4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
}

.gameSelector{
    margin-top: 10px;
    vertical-align: top;
    background-color: rgb(74, 74, 99);
    height:10em;
    vertical-align: top;
    font-family:'Courier' ;
    color: whitesmoke;
}

.pickButton{
margin-left:10px;
}

.genre{
    display: inline-block;
    padding: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(5, 80, 177, 0.678);
  border-radius: 10px;
  border-color: white;
  border:2px;
  height: 2em;
  -webkit-box-shadow: inset 0 0 6px rgba(252, 249, 249, 0.993);
}
::-webkit-scrollbar-track {
    box-shadow: inset 2px 2px 5px white;
    border-radius: 10px;

  }




